div.opts
	//div.back(ng-click="menu()")
	input(type="text", placeholder="Untitled", ng-model="note.value.title")
	div#save_status.save_status(title="Saved", ng-click="save()", class="saved-{{saved}}")

div.text
	textarea(ng-model="note.value.body", droppable="true")  // auto-focus="end"

div.attachments.light.clearfix(ng-show="showAttachments()")

	attachment(
			ng-repeat="attachment in note.getAttachments()",
			ng-class="{playing: data.playing}",
			ng-click="preview()",
			ng-style="{backgroundImage: src_url}",
			class="{{getFileType()}}",
			title="{{attachment.filename}}"
		)
		
		div.controls
			p
				span.icon
				| {{playText()}}

		div.hover_opts
			a.delete(ng-click="remove()", alt="Delete")
	
	div.upload(ng-repeat="upload in note.uploads")
		div.absolute
			h3 {{upload.index+1}}/{{upload.files.length}} files
			div.bar
				div.progress(ng-style="{width: upload.progress + '%'}")